{% macro sort_macro(name, field, paginator) %}
    <a href="{{ paginator.getSortString(field) }}" class="{{ paginator.getClassAction(field) }}">{{ name }}</a>
{% endmacro %}

{% extends 'layouts/home.twig' %}
{% block body %}

    {% if isLogin %}
        <a href="/auth/logout">Выход</a>
    {% else %}
        <a href="/auth">Авторизоваться</a>
    {% endif %}

    {% if not isLogin %}
        {{ include('formTask.twig') }}
    {% endif %}

    <table>
        <tr>
            <th>Email</th>
            <th>{{ _self.sort_macro('Имя пользователя', 'user_name', paginator) }}</th>
            <th>{{ _self.sort_macro('Текст задачи', 'text', paginator) }}</th>
            <th>{{ _self.sort_macro('Стаус', 'status', paginator) }}</th>
            {% if isLogin %}
                <th></th>
            {% endif %}


        </tr>
    {% for task in tasks %}
        <tr>
            <th>{{ task.email }}</th>
            <th>{{ task.user_name }}</th>
            <th>{{ task.text }}</th>
            <th>{{ task.status }}</th>
            {% if isLogin %}
                <th><a href="/task/form/?id={{ task.id }}">Изменить</a></th>
            {% endif %}
        </tr>
    {% else %}
        <div class="">
            Список еще пуст
        </div>
    {% endfor %}
    </table>


    <div class="">
        {% for link in paginator.getArrayPages() %}
            <a href="{{ link }}">{{ loop.index }}</a>
        {% endfor %}
    </div>

{% endblock %}
